<div class="estadisticas">
  <div class="tarjeta" (click)="navigateTo('series')">
    <i class="fas fa-search"></i>
    <h3>Buscar Serie</h3>
  </div>
  <div class="tarjeta" (click)="navigateTo('series/series-persistidas')">
    <i class="fas fa-list"></i>
    <h3>Mostrar Todas las Series</h3>
  </div>
  <div class="tarjeta" (click)="navigateTo('monitoreos')">
    <i class="fas fa-chart-line"></i>
    <h3>Monitoreo</h3>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">